* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    height: 75px;
    width: 100%;
}

header .home {
    float: left;
    margin: 5px 0 0 30px;
}

header .home a {
    text-decoration: none;
    font-size: 50px;
}

header nav {
    float: right;
    margin: 50px 10px 0 0 ;

}

header nav a {
    text-decoration: none;
    margin: 0 25px;
}

.backgroundImg {
    height: 250px;
    width: 100%;
}

.abtMeInfo{
    display: flex;
    margin-top: 20px;
}

.abtMeInfo h1 {
    border-right: solid 1px white;
    padding: 5px 10px 75px 100px;
    font-size: 50px;
}

.abtMeInfo p {
    padding: 100px;
}

.projectInfoOne {
    display: flex;
}

.projectInfoOne h1 {
    border-right: solid 1px white;
    padding: 5px 10px 0 51px;
    font-size: 50px;
}

.projectOneContainer {
    height: 750px;
    width: 700px;
    padding: 10px;
    margin-left: 150px;
}

.projectRowOne {
    display: flex;
}

.projectRowThree {
    display: flex;
}

.projectOne {
    height: 50%;
    width: 100%;

}

.projectTwo {
    height: 189px;
    width: 350px;
}

.projectThree {
    height: 189px;
    width: 350px;
}

.projectFour {
    height: 189px;
    width: 350px;


}

.projectFive {
    height: 189px;
    width: 350px;


}

.contactMeInfo{
    display: flex;
    margin-top: 20px;
}

.contactMeInfo h1 {
    border-right: solid 1px white;
    padding: 5px 10px 75px 66px;
    font-size: 50px;
}

.contactMeInfo p {
    padding: 100px;
}